<h1>Editing Review</h1>

<%= render 'form' %>

<%= link_to 'Back', filme_path(@filme) %>
                    <!--Volta para a página do fime usando o filme_path passando o id do filme como parâmetro-->
